In [43]:

# Import required libraries and dependencies
import pandas as pd
import numpy as np
import hvplot.pandas
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from pathlib import Path
from sklearn.metrics import confusion_matrix, classification_report

In [44]:
# Load the data into a Pandas DataFrame
df_census_income = pd.read_csv(
    "datasets/adult.csv")

# Display sample data
df_census_income.head(10)

,Age,Workclass,Final Weight,Education,EducationNum,Marital Status,Occupation,Relationship,Race,Gender,Capital Gain,capital loss,Hours per Week,Native Country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [45]:
pd.unique(df_census_income["Workclass"])

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [46]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
df_census_income['Workclass'].value_counts()

Workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64

In [47]:
df_census_income['Workclass'] = df_census_income['Workclass'].str.strip()
df_census_income['Workclass'] = df_census_income['Workclass'].str.lower()

In [48]:
# Filter out rows where 'Workclass' is 'never-worked' or 'without-pay'
df_census_income = df_census_income[
    ~df_census_income['Workclass'].isin(['never-worked', 'without-pay'])
]

In [49]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
df_census_income['Workclass'].value_counts()

Workclass
private             22696
self-emp-not-inc     2541
local-gov            2093
?                    1836
state-gov            1298
self-emp-inc         1116
federal-gov           960
Name: count, dtype: int64

In [50]:
df_census_income['Workclass'] = df_census_income['Workclass'].replace('?', 'Unknown')

In [51]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
df_census_income['Workclass'].value_counts()

Workclass
private             22696
self-emp-not-inc     2541
local-gov            2093
Unknown              1836
state-gov            1298
self-emp-inc         1116
federal-gov           960
Name: count, dtype: int64

In [52]:
df_census_income['Education'].value_counts()

Education
HS-grad         10491
Some-college     7286
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1174
Assoc-acdm       1066
10th              931
7th-8th           644
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

In [53]:
df_census_income['EducationNum'].value_counts()

EducationNum
9     10491
10     7286
13     5355
14     1723
11     1382
7      1174
12     1066
6       931
4       644
15      576
5       514
8       433
16      413
3       333
2       168
1        51
Name: count, dtype: int64